/* For window overall */
body {
    background-color:black;
    font-family:arial;
    color:white
}

/* For the header */
h1 {
    color:grey;
    font-family:verdana
}

/* For having a rounded box for the important part of the screen */
.maindiv {
    background-color:white;
    color:black;
    width:300px;
    padding:20px;
    border-radius:25px;
    margin:auto
}

/* For highlighting the numbers in yellow */
.numbers {
	background-color:yellow
}

