/* For window overall */
body {
    background-color:black;
    font-family:arial;
    color:white
}

/* For the header */
h1 {
    color:grey;
    font-family:verdana
}

td:nth-child(1) {
	width:100px
}

td:nth-child(2) {
	width:200px
}

td:nth-child(3) {
	width:50px
}

/* For having a rounded box for the important part of the screen */
.maindiv {
    background-color:white;
    color:black;
    width:400px;
    padding:20px;
    border-radius:25px;
    margin:auto
}

.innerdiv {
	margin-left:40px
}

/* For highlighting the numbers in yellow */
.numbers {
	background-color:yellow
}

